/***************************
****************************
Modules
****************************
***************************/


/*Background Modules*/


.body-section h1{
    color: #ffffff;
    font-size: 2em;
}
.body-section h3{
    color: #ffffff;
}
section.body-section > div.container{
    padding: 4em;
}

.body-section button{
    background: #ffffff;
    color: #008080;
    width: 15%;
    height: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
}
.body-section button:hover{
    color:#fafafa;
}

/* image modules*/
img.logo-bg{
    width: 120px;
    height: 100px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*pagination modules*/

.pagination {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 14em;
	margin-bottom:2em !important;

}

	.pagination a {
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		transition: background-color .3s;
		border: 1px solid #ddd;
	}

		.pagination a.active {
			background-color: #4CAF50;
			color: white;
			border: 1px solid #4CAF50;
		}

		.pagination a:hover:not(.active) {
			background-color: #ddd;
		}


div.signup a, div.login a{
    text-decoration: none;
}
div.signup a:hover div.login a:hover{
    text-decoration: none;
    color: #45a049;
}

/*Footer Modules*/



section.copyright{
    text-align: center;
    bottom: 0;
    padding-top: 4em;
    
}
img.footer-img{
    padding-top: 1em;
    height: 64px;
    width: 64px;
}
footer h1{
 color: #ffffff !important;
 font-family: 'Times New Roman', Times, serif;

}

@media (min-width: 48em){

	/* InputText Modules*/
	input[type=text], select {
		width: 100%;
		padding: 17px 20px;
		margin: 15px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	input[type=date] {
		width: 100%;
		padding: 17px 20px;
		margin: 15px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}


	input[type=text].search {
		width: 300px;
		padding: 12px 20px;
		margin-top: 0.5em;
		margin-right: 1em;
		float: left;
		font-size: 1em;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

		input[type=text].search:hover {
			border-color: green;
		}

	input[type=password], select {
		width: 100%;
		padding: 17px 20px;
		margin: 15px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	input#cancel {
		background-color:#ccc;
		text-align: center;
		color: white;
		padding: 14px;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		display: block;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-weight: bold;
		font-size: 20px;
	}

	input[type=submit] {
		
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom:1em;
		width: 100%;
		display: block;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-weight: bold;
		font-size: 20px;
	}


		input[type=submit]:hover {
			background-color: #45a049;
		}

    /*list item modules*/
ul {
    background: #eee;
    margin: 3em;
    margin-bottom: 2em;
    padding: 5px;
    list-style-type: none;
}
ul li {
    background: #fafafa;
    color:black !important;
    margin: 1.5em;
	
    height: 2.5em;
    font-size: 1.3em;
    padding: 0.7em 1em;
    
}
	ul li:first-child {
		margin-top: 4.5em;
	}
ul a {
    color:black;
}

	
 h3.new-request{
     background: green;
	 float: right;
     color:white;
     width: 20%;
     margin-right: 4.5em;
	 margin-bottom: 40px;
	 margin-top:20px;
     padding: 0.6em;
     text-align: center;

 }

	div.form-container {
		margin-left: 25%;
		margin-right: 25%;
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 2em 5em;
		margin-bottom: 2em;
	}


 ul h3.new-request:hover{
    background: rgb(96, 114, 96);
    color:white;
    width: 20%;
    margin-left: 34px;
    padding: 0.6em;
    text-align: center;

}
span.accepted{
   
    color:green;
    padding:0.3em;
    font-size: 0.6em;
    font-family: cursive;
    margin-top: 0.1em;
}
span.rejected{
	color: red;
   
    padding:0.3em;
    font-size: 0.6em;
    font-family: cursive;
    margin-top: 0.1em;
}
span.progress{
    color: rgb(114, 114, 31);
  
    padding:0.3em;
    font-size: 0.6em;
    font-family: cursive;
    margin-top: 0.1em;
}
    footer{
        background: rgb(238, 236, 236);
        margin-top:0em;
        margin-left: 0;
        margin-right: 0;
		position: fixed;
        bottom:0;
        width:100%;
           /* Height of the footer */
        
    }
    .body-section{
        background: #008080;
        text-align: center;
        margin: -1.5em;
        padding: em;
        height: 40%;
    }

    .header-primary {
        overflow: hidden;
        background-color: white;
        padding: 0.3em 2em;
        
      }
      .header-primary a {
        float: left;
        color:rgb(14, 66, 36) ; 
        text-align: center;
        text-decoration: none;
        font-size: 18px; 
        margin: 22px;
        
        border-radius: 4px;
      }

      .btn-header{
        background:#625e91;
		margin-top: 0.1em !important;
        border-color: #008080;
        padding: 0.7em;
        margin-right: 3em;
        color: white !important;
        
        }
      
      
        .btn-primary:hover {
            background: rgb(153, 145, 145);
            border-color: rgb(107, 239, 248);
            text-decoration: none;
        }
       
        .body-section button{
            background: #ffffff;
            color: #008080;
            margin-bottom: 3em;
            width: 15%;
            font-size:1em;
            font-weight: bold;
            height: 3.5em;
            margin-top: 1em;
        }
        .body-section button:hover{
            color:white;
            background: none;
            border-color: #fafafa;
        }
    
      /*Logo Modules*/
	
	.welcome {
		overflow: hidden;
		display: inline-block;
	}

	
      .nav-primary {
		
        float: right;
      }
    
}  

@media only screen and (max-width : 47.9375em) {
    /* Header Modules*/
.header-primary{
    background: #eee;
text-align: center;
padding-top: 18px;
padding-bottom: 18px;
}
/*input module*/

input[type=text].search {
    width: 100%;
    padding: 12px 20px;
    margin-top: 0.5em;
    margin-right: auto;
    margin-left: auto;
    width:250px;
    display: block;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text].search:hover {
 border-color: green;
}

	/* InputText Modules*/
	input[type=text], select {
		width: 100%;
		padding: 17px 20px;
		margin: 15px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	input[type=date] {
		width: 100%;
		padding: 17px 20px;
		margin: 15px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	.form-container {
	margin:2em;
	background:#eee;
	padding:2em;
	}
	

	input[type=password], select {
		width: 100%;
		padding: 17px 20px;
		margin: 15px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
	input#cancel {
        background-color:#ccc;
		text-align: center;
		color: white;
		padding: 14px;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		display: block;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-weight: bold;
		font-size: 20px;
	}


	input[type=submit] {
		
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom:1em;
		width: 100%;
		display: block;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-weight: bold;
		font-size: 20px;
	}


		input[type=submit]:hover {
			background-color: #45a049;
		}



/*Navigation Modules*/
.nav > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.nav-primary {
    margin-top: 35px;
}

 /*list item modules*/
 ul {
    background: #eee;
    margin-bottom: 2em;
    padding: 10px;
    list-style-type: none;
}
ul li {
    background: #fafafa;
    color:black !important;
    margin: 1.5em;
    height: 2.5em;
    font-size: 0.9em;
    padding: 0.7em 1em;

    
}
ul a {
    color:black;
}
	h3.new-request {
		padding-top: 2em;
		padding-left: 2em;
	}
 ul h3.new-request:hover{
    background: rgb(96, 114, 96);
    color:white;
    width: 40%;
    margin-left: 34px;
    padding: 0.6em;
    text-align: center;

}
span.accepted{
    background: green;
    color:white;
    padding:0.3em;
    font-size: 0.6em;
    font-family: cursive;
    margin-top: 0.1em;
}
span.rejected{
    background: red;
    color:white;
    padding:0.3em;
    font-size: 0.6em;
    font-family: cursive;
    margin-top: 0.1em;
}
span.progress{
    background: rgb(114, 114, 31);
    color:white;
    padding:0.3em;
    font-size: 0.6em;
    font-family: cursive;
    margin-top: 0.1em;
}
/*Button Modules*/
.btn{
    display: inline-block;
text-align: center;
white-space: nowrap;
vertical-align: middle;
background-image: none;
border: 1px solid transparent;
cursor: pointer;
text-decoration: none;
padding: 12px 30px;
font-size: 1.313em;
font-weight: bold;
border-radius: 4px;
transition: all 0.3s ease 0s;
}
.btn-primary{
background: #008000;
border-color: #008000;
color: white;
margin-bottom: 1.5em;
margin-top: 0.5em

}
.btn-primary:hover {
    background: rgba(97, 4, 4, 0.521);
border-color: white;
text-decoration: none;
}
.btn-nav {
    color: rgb(14, 66, 36) ; 
    
    display: block;
}
.btn-nav:hover{
    border-color: #8DC63F;
    text-decoration: none;
}

  
    .body-section{
        background: #008080;
        text-align: center;
        margin: -1em;
        padding: em;
        height: 400px;
    }
    .body-section h1{
        color: #ffffff;
        font-size: 2em;
    }
    .body-section h3{
        color: #ffffff;
    }
    section.body-section > div.container{
        padding: 4em;
    }
    .body-section button{
        background: #ffffff;
        color: #008080;
        width: 40%;
        font-size:1em;
        font-weight: bold;
        height: 3.5em;
        margin-top: 1em;
    }
    .body-section button:hover{
        color:white;
        background: none;
        border-color: #fafafa;
    }

    footer{
        background: rgb(238, 236, 236);
        margin-top: 1em ;
        width: 100%;
           /* Height of the footer */
        
    }
        
        
}
